/*
    RMIT University Vietnam
    Course: COSC2430 Web Programming
    Semester: 2023A
    Assessment: Assignment 1
    Author: Tran Thanh Tung
    ID: s3927562
    Acknowledgement: RMIT University, COSC2430 Course, Week 1 - 5 Lecture Slides & Videos
*/

/* Only applies to book details pages */

h1 {
    display: flex;
    justify-content: center;
}

.book-preview {
    display: flex;
    justify-content: space-evenly;
}

.small-preview {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.book-purchase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: xx-large;
    align-items: flex-start;
}

.book-preview img {
    border: 2px solid black;
}

.big-preview>img {
    height: 600px;
}

.small-preview>img {
    height: 150px;
    margin: auto 20px;
}

.book-details {
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
}

/* "Add to Cart" button */
form>input[type="submit"] {
    color: white;
    background-color: forestgreen;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    font-size: medium;
}

.book-title {
    font-size: xx-large;
}

.book-author {
    font-size: large;
    color: gray;
}

@media (max-width: 768px) {

    /* Breadcrumb split */
    h1 {
        flex-direction: column;
    }

    /* Rearrange book previews */
    .book-preview {
        flex-direction: column;
        align-items: center;
    }

    .book-preview>* {
        margin-bottom: 10px;
    }

    .small-preview {
        flex-direction: row;
    }

    .big-preview>img {
        height: 400px;
    }

    .small-preview>img {
        height: 100px;
        margin: 10px;
    }
}